html 
    body
        h1 Ini Halaman Contoh 4
        table 
            tr 
                td='Number 1' 
                td=':'
                td=num1 
            tr 
                td='Number 2' 
                td=':'
                td=num2
            tr 
                td='Hasil' 
                td=':'
                td=hasil
